.blog-item
	.imagen
		overflow: hidden;
		height: 236px;
		position: relative;
		img
			bottom: 100%;
			position: relative;
			max-width: 100%;
	.blog-content
		margin-top: 12px;
		h4
			a 
				color: inherit;
				&:hover 
					color: var(--blue);
					

