<!-- WELL -->
<div class="well">
  <div class="container">
    <a routerLink="/">Home</a>
    <p>Blog</p>
  </div>
</div>
<!-- /WELL -->
<div class="container">
	<div class="blog-item" *ngFor="let blog of blogs">
		<div class="row">
			<div class="col-md-12">
				<div class="imagen">
					<a href="/blog_deatil/{{blog.id}}">
						<img src="{{blog.imagePath}}" alt="{{blog.item}}" class="img-fluid">
					</a>
				</div>
				<div class="blog-content">
					<h4> <a href="/blog_deatil/{{blog.id}}">{{blog.title}}</a></h4>
					<ul class="blog-meta">
						<li>
							<p class="article">by</p>
							<p class="text">{{blog.autor}}</p>
						</li>
						<li>
							<p class="article"></p>
							<p class="text">{{blog.date}}</p>
						</li>
						<li>
							<p class="article">in</p>
							<p class="text">{{blog.country}}, {{blog.city}}</p>
						</li>
					</ul>
					<p>{{blog.summary}}</p>
	      			<a href="/blog_deatil/{{blog.id}}">Ver más <i class="fas fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="lineContent"></div>
		</div>
	</div>
</div>
