<!-- HEADER -->
<header class="header_corto">
  <div class="bgFull"></div>
  <div class="container">
  	<div class="content-inner">
  		<div class="item">
    		<h2>Best Mountains</h2>
  		</div>
  	</div>
  </div>
</header>
<!-- /HEADER -->

<div class="well">
	<div class="container">
		<a routerLink="/">Home</a>
		<p>/ Tours Mountains</p>
	</div>
</div>


<div class="container">
	<div class="sort-by-wrapper">
		<p>View as:</p>
		<button (click)='btnGrid()' [ngStyle]="{'color': showList ? '#6c757d' : '#007bff' }"><i class="fas fa-th-large"></i></button>
		<button (click)='btnList()' [ngStyle]="{'color': showGrid ? '#6c757d' : '#007bff' }"><i class="fas fa-th-list"></i></button>
	</div>
</div>
<app-mountain-list *ngIf='showList'></app-mountain-list>
<app-mountain-item *ngIf='showGrid'></app-mountain-item>

