<div class="container">

	<div class="mount-items">
		<div class="row">
			<div class="col-md-4" *ngFor="let mountain of mountains">
				<div class="item">
					<a href="/mountains_deatil/{{mountain.id}}">
						<div class="imagen">
							<img src="{{mountain.imagePath}}" class="img-responsive" alt="{{mountain.title}}">
						</div>
						<div class="groupsIntroItem">
							<div class="row">
								<div class="col-md-6">
									<h6>{{mountain.title}}</h6>
								</div>
								<div class="col-md-6 text-right">
									<p class="countrySelec"><i class="fas fa-map-marker-alt"></i>{{mountain.country}}, {{mountain.city}}</p>
								</div>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>

</div>
