.mount-items 
	.item
		&:hover 
			border: 1px solid #ddd;
		a 
			&:hover 
				text-decoration: none;
			img
				max-width: 100%;
				margin-bottom: 10px;
			.groupsIntroItem
				padding: 0 6px;
				h5 
					color: #212529 !important;
					font-weight: 600;
				
				.countrySelec
					font-size: 12px;
					position: relative;
					top: 5px;
					color: var(--gray);
					.svg-inline--fa
						margin-right: 5px;

