<div class="container">

	<div class="mount-items">
		<div class="row">
			<div class="col-md-4">

				<div class="item">
					<a href="/tourmountains_deatil">
						<img src="https://source.unsplash.com/collection/148982/1600x900?page=1" class="img-responsive" alt="">
						<div class="groupsIntroItem">
							<div class="row">
								<div class="col-md-6">
									<h5>Title item</h5>
								</div>
								<div class="col-md-6 text-right">
									<p class="countrySelec"><i class="fas fa-map-marker-alt"></i>Country, City</p>
								</div>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>

</div>
