<!-- HEADER -->
<header class="header_corto">
  <div class="bgFull"></div>
  <div class="container">
    <div class="content-inner">
      <div class="item">
        <h2>Blog</h2>
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->
<!-- WELL -->
<div class="well">
  <div class="container">
    <a routerLink="/">Home</a>
    <a routerLink="/blog_deatil/">Blog</a>
    <p>{{blog.title}}</p>
  </div>
</div>
<!-- /WELL -->
<div class="container">
	<div class="blog-detail">
		<div class="row">
			<div class="col-md-12">
				<img src="{{blog.imagePath}}" alt="" class="img-fluid">
				<div class="blog-content">
					<h2>{{blog.title}}</h2>
					<ul class="blog-meta">
						<li>
							<p class="article">by</p>
							<p class="text">{{blog.autor}}</p>
						</li>
						<li>
							<p class="article"></p>
							<p class="text">{{blog.date}}</p>
						</li>
						<li>
							<p class="article">in</p>
							<p class="text">{{blog.country}}, {{blog.city}}</p>
						</li>
					</ul>
					<p>{{blog.description}}</p>
					<p>{{blog.description}}</p>
					<p>{{blog.description}}</p>
					<p>{{blog.description}}</p>
					<p>{{blog.description}}</p>
					
				</div>
			</div>
		</div>
	</div>
</div>