<!-- HEADER -->
<header>
	<div class="bgImgId" [style.top]="mountain.topBgImgHeader">
		<img src="{{mountain.imagePath}}" alt="" >
	</div>
	<div class="bgFull"></div>
	<div class="container">
		<div class="content-inner">
			<div class="item">
			<h2>{{mountain.title}}</h2>
			</div>
		</div>
	</div>
</header>
<!-- /HEADER -->

<div class="well">
	<div class="container">
		<a routerLink="/">Home</a>
		<p>/ </p>
		<a routerLink="/tourmountains">Tours Mountains</a>
		<p>/ {{mountain.title}}</p>
	</div>
</div>

<div class="container">
	<div class="manage">
		<p>Manage:</p>
		<a href="#" class="button"><i class="fas fa-pencil-alt"></i></a>
		<a href="#" class="button"><i class="fas fa-trash-alt"></i></a>
	</div>
	<div class="mountain-detail-content">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-7">
						<div class="groupsInto">
							<p><strong>Autor:</strong> {{mountain.by}} /</p>
							<a href="" target="_blank">{{mountain.twitter}} /</a>
							<p class="countrySelec"><i class="fas fa-map-marker-alt"></i>{{mountain.country}}, {{mountain.city}}</p>
						</div>
						<p>{{mountain.description}}</p>
				<p><strong>Elevation: </strong> {{mountain.elevation}}</p>
				<p><strong>First Ascent: </strong> {{mountain.ascent}}</p>
					</div>
					<div class="col-md-5">
						<agm-map [latitude]="lat" [longitude]="lng">
						  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
						</agm-map>
					</div>
				</div>
				<div class="lineContent"></div>
				<div class="gallery">
					<h2>Gallery</h2>
					<div class="items_gallery">
						<img src="https://source.unsplash.com/collection/148982/1600x900?page=1" alt="">
						<img src="https://source.unsplash.com/collection/148982/1600x900?page=2" alt="">
						<img src="https://source.unsplash.com/collection/148982/1600x900?page=3" alt="">
						<img src="https://source.unsplash.com/collection/148982/1600x900?page=4" alt="">
						
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div> 