@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,700,800')

$input-font-size: 30px;
$input-line-height: 70px;
$grayBg: #F5F5F5;

body 
	font-family: 'Poppins', sans-serif;

/*==================== CONTENT WRAPPER ====================*/	
.content-wrapper 
	min-height: 429px;
	height: auto !important;
