<!-- HEADER -->
<header class="header_corto">
  <div class="container">
    <div class="content-inner">
      <div class="item">
        <h2>Creating Mountain</h2>
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->

<!-- WELL -->
<div class="well">
  <div class="container">
    <a routerLink="/">Home</a>
    <p>Creating Mountain</p>
  </div>
</div>
<!-- /WELL -->

<div class="container">
	<form class="forms-creating">
	    <div class="row">
	      
			<div class="col-md-12">

				<div class="mb-3">
					<label for="address">Title</label>
					<input type="text" class="form-control" id="title" placeholder="Writing title" required="">
				</div>

				<div class="mb-3">
					<label for="address">Image</label>
					<input type="url" class="form-control" id="title" placeholder="www.." required="">
				</div>

				<div class="mb-3">
					<label for="address">Autor</label>
					<input type="text" class="form-control" id="title" placeholder="Name" required="">
				</div>

				<div class="mb-3">
					<label for="address">Twiiter</label>
					<input type="text" class="form-control" id="title" placeholder="@.." required="">
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="firstName">Country</label>
						<input type="text" class="form-control" id="firstName" placeholder="Francia" value="" required="">
					</div>
					<div class="col-md-6 mb-3">
							<label for="lastName">City</label>
						<input type="text" class="form-control" id="lastName" placeholder="París" value="" required="">
					</div>
				</div>	

				<div class="mb-3">
					<label for="address">Description</label>
					<textarea class="form-control" id="address" placeholder="Escribir" required="" rows="5"></textarea>
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="firstName">Elevation</label>
						<input type="text" class="form-control" id="firstName" placeholder="4,559 m" value="" required="">
					</div>
					<div class="col-md-6 mb-3">
							<label for="lastName">First Ascent</label>
						<input type="text" class="form-control" id="lastName" placeholder="1986" value="" required="">
					</div>
				</div>
				
			</div>
	     
	     	<div class="col-md-12">
				<button class="btn btn-primary" type="submit">Subir</button>
				<button class="btn btn-danger" type="submit">Delete</button>
				<button class="btn btn-default" type="submit">Cancel</button>
	     	</div>
		</div>
	</form>
</div>