<div class="navigation">
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<div class="logo">
			      <div class="icon">
			        <i class="fas fa-angle-up"></i>
			      </div>
			      <h1><span>Love</span>Mountain</h1>
			    </div>
			</div>

			<div class="col-md-8">
				<nav>
					<ul class="nav justify-content-end">
						<li class="nav-item"><a href="" class="nav-link " title="">Mountains</a></li>
						<li class="nav-item"><a href="" class="nav-link " title="">Blog</a></li>
						<li class="nav-item"><a href="" class="nav-link " title="">Contact</a></li>
					</ul>
				</nav>
			</div>
			
		</div>
	</div>
</div>